# Ambiente virtual
.venv/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
sandbox.py

# Credenciais — NUNCA sobe pro git
*.json
.env

# Dados brutos — podem ser pesados e sensíveis
#data/raw/
*.csv
data/processed/

# Outputs gerados
outputs/

# MacOS
.DS_Store
